/*
 * Styles for the about page
 */

 /**
 * 8.0  About
 * -----------------------------------------------------------------------------
 */

.about-content {
	width: 100%;
	display: none;
}

.about-container {
	position: absolute;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: none;
	z-index: 1;
	opacity: 1;
}

/* Parallax sections */


/* Business Card */
.about-container .business-card {
	background: #121212;
}

.about-container .business-card img {
	display: block;
	opacity: 0;
	margin: 0 auto;
	padding-top: 40%;
	width: auto;
	height: 50px;
}

.about-container .business-card h2 {
	display: none;
	color: #FFF;
	padding-top: 1%;
	margin: 0 auto;
	text-align: center;
}

.about-container .business-card p {
	display: none;
	color: #FFF;
	padding-top: 1%;
	margin: 0 auto;
	text-align: center;
}

.about-container .business-card .download-cv-button {
	display: none;
	cursor: pointer;
	color: #000;
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #F7F7F7;
	padding: 10px 15px;
	width: 130px;
	margin: 15px auto 0;
	text-align: center;
}

.about-container .business-card .download-cv-button:hover {
	color: white;
	background-color: #232323;
}

.about-container .business-card .self-summary {

}

.about-container .business-card .arrow-instructions {
	opacity: 0.75;
	text-transform: uppercase;
	font-size: .7em;
	cursor: pointer;
}

@-webkit-keyframes arrows {
	0% { top:0; }
	10% { top:1%; }
	20% { top:0; }
	30% { top:1%; }
	40% { top:-1%; }
	50% { top:1%; }
	60% { top:0; }
	70% { top:1%; }
	80% { top:-1%; }
	90% { top:1%; }
	100% { top:0; }
}

.down-arrow {
	display: none;
	position: relative;
	cursor: pointer;
	bottom: 0;
	left: 50%;
	margin-left:-20px;
	margin-top: 100px;
	width: 40px;
	height: 40px;
	background-image: url('images/down-arrow.png');
	background-size: contain;
	-webkit-animation: arrows 2.8s 0.4s;
	-webkit-animation-delay: 1s;
	-webkit-animation-count: infinite;
}

.about-sections {
	display: none;
}


/* Primary Skills */
.about-container .primary-skills {
	background: #121212;
	border-top: 40px solid #4F4F4F;
	border-bottom: 40px solid #4F4F4F;
}

.about-container .primary-skills .skill-carousel-wrapper {
	height: 100%;
	overflow: hidden;
}

.about-container .primary-skills .skill-carousel {
	height: 100%;
	width: 2000em;
}

.about-container .primary-skills .skill-title-card {
	background: #25AAE1;
}

.about-container .primary-skills .skill-front-end-card {
	background: #BF1E2D;
}

.about-container .primary-skills .skill-carousel li {
	height: 100%;
	display: inline;
}

.about-container .primary-skills .skills-title-card-graph h1 {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	font-size: 50px;
	border-bottom: 40px solid #4F4F4F;
	margin-top: 0;
	margin-bottom: 50px;
}

.about-container .primary-skills .skills-title-card-graph ul {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
	list-style: none;
}

.about-container .primary-skills .skills-title-card-graph .skill {
	width: 100%;
	height: 100px;
}

.about-container .primary-skills .skills-title-card-graph .skill-logo {
	width: 10%;
	height: 60px;
	float: left;
	text-align: center;
}

.about-container .primary-skills .skills-title-card-graph .skill-logo img {
	height: 100%;
	width: auto;
	max-height: 100px;
	vertical-align: middle;
}

.skill-meter {
	width: 50%;
	float: right;
	padding: 0;
	height: 40px;
	margin-right: 20%;
	position: relative;
	list-style-type: none;
	background: #4F4F4F;
	border: 10px solid #000;
}

.color-bar {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width: 0;
	height: 100%;
	background: -webkit-linear-gradient(left, red, #AEED25, #AEED25); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, red, #AEED25, #AEED25); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, red, #AEED25, #AEED25); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, red, #AEED25 , #AEED25); /* Standard syntax */
}

.mask {
	float: left;
	margin:0;
	position:relative;
	height: 100%;
}

.mask:nth-child(odd) {
	width: 2.75%;
	background: #000;
}

.mask:nth-child(even) {
	width: 7.5%;
}

/* Skill Levels */
/*
.html5-skill {
	width: 70%;
}

.css3-skill {
	width: 80%;
}

.php-skill {
	width: 70%;
}

.javascript-skill {
	width: 70%;
}

.jquery-skill {
	width: 80%;
}

.mysql-skill {
	width: 40%;
}

.drupal-skill {
	width: 50%;
}

.wordpress-skill {
	width: 80%;
}

.git-skill {
	width: 60%;
}

.java-skill {
	width: 40%;
}

.android-skill {
	width: 30%;
}

.photoshop-skill {
	width: 40%;
}
*/


.about-container
.skill-carousel-prev,
.skill-carousel-next {
	position: absolute;
	cursor: pointer;
	margin-top: -55px;
	top: 50%;
	width: 60px;
	height: 85px;
	text-align: center;
	line-height: 230%;
}

.about-container .skill-carousel-prev {
	left: 0;
}

.about-container .skill-carousel-next {
	right: 0;
}



/* Experience */
.about-container .experience {
	background-image: url('images/graph-paper.jpg');
	background-repeat: repeat;
}

.about-container .experience h1 {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	font-size: 50px;
	margin-top: 50px;
}

.about-container .experience .experience-timeline {
	border-left: 5px solid #FFF;
	margin-left: 126.5px;
	margin-top: -80px;
	width: auto;
	list-style: none;
}

.about-container .experience .experience-timeline .timeline-year:first-child {
	padding-top: 200px;
}

.about-container .experience .experience-timeline .timeline-year {
	position: relative;
	border-left: none;
	line-height: 2;
	padding-bottom: 150px;
	margin-left: -90px;
	color: #FFF;
	font-size: 1.2em;
	height: 40px;
}

.about-container .experience .experience-timeline .timeline-year span {
	vertical-align: top;
}

.about-container .experience .experience-timeline .timeline-year:after {
	display: inline-block;
	content: '';
	background: url('images/bullet.png');
	background-position: center;
	width: 38px;
	height: 100%;
	margin-left: 19px;
}


.about-container .notable-projects {

}

.about-container .hobbies {

}


.about-background {
	display: none;
	position: fixed;
	width: 100%;
	height: 300%;
	top: 0;
	left: 0;
	opacity: .99;
	z-index: 0;
}

.about-background img {
	width: 100%;
}

.about-background .overlooking-water {
	position: absolute;
	width: 100%;
	overflow: hidden;
	z-index: 2;
}
