 /**
 * About Page Styles
 * -----------------------------------------------------------------------------
 */

.about-content {
	width: 100%;
	display: none;
}

.about-container {
	position: absolute;
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: none;
	z-index: 1;
	opacity: 1;
	.business-card {
		background: #121212;
		img {
			display: block;
			opacity: 0;
			margin: 0 auto;
			padding-top: 40%;
			width: auto;
			height: 50px;
		}
		h2 {
			display: none;
			color: #FFF;
			padding-top: 1%;
			margin: 0 auto;
			text-align: center;
		}
		p {
			display: none;
			color: #FFF;
			padding-top: 1%;
			margin: 0 auto;
			text-align: center;
		}
		.download-cv-button {
			display: none;
			cursor: pointer;
			color: #000;
			border: 1px solid #000;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			background: #F7F7F7;
			padding: 10px 15px;
			width: 130px;
			margin: 15px auto 0;
			text-align: center;
			&:hover {
				color: white;
				background-color: #232323;
			}
		}
	}
}

