 /**
 * Footer Styles
 * -----------------------------------------------------------------------------
 */

#supplementary {
	padding: 0 10px;
}

.site-footer,
.site-info,
.site-info a {
	color: rgba(255, 255, 255, 0.7);
}

.site-footer {
	background-color: #121212;
	font-size: 12px;
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 3;
}

#supplementary + .site-info {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-info a:hover {
	color: #41a62a;
}
