 /**
 * Front Page Styles
 *-------------------------------------------------------------------------------
 */

.home {
	display: none;
	background: url('images/homepage.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	#page {
		background-color: transparent;
	}
	.sidebar {
		display: none;
	}
	.social-media-container {
		display: none;
		position: fixed;
		top: 226px;
		left: 0;
		background: #121212;
		width: 300px;
		border-top: solid 2px #232323;
		@media screen and (min-width: 730px) {
			display: block;
			top: 56px;
			bottom: 0;
			right: 0;
			left: auto;
			border: none;
			background: none;
			width: auto;
		}
		li {
			display: inline;
			@media screen and (min-width: 730px) {
				margin: 30% 0 30% 0;
				display: block;
			}
			&:first-child {
				margin-left: 10px;
				@media screen and (min-width: 730px) {
					margin: 30% 0 30% 0;
				}
			}
		}
	}
	.social-media-link {
		display: none;
		opacity: .5;
		width: 30px;
		padding: 10px;
		@media screen and (min-width: 730px) {
			opacity: .5;
			width: auto;
			padding: 0 10px 0 0;
		}
		&:hover {
			opacity: 1;
		}
	}
 }
