 /**
 * Header Styles
 * -----------------------------------------------------------------------------
 */

/* Ensure that there is no gap between the header and
 * the admin bar for WordPress versions before 3.8.
 */
#wpadminbar {
	min-height: 32px;
}

#site-header {
	position: fixed;
	top: 0;
	z-index: 3;
}

.site-header {
	background-color: #121212;
	position: fixed;
	width: 100%;
	height: 57px;
	z-index: 4;
	text-transform: uppercase;
}

.header-main {
	min-height: 48px;
	width: 95%;
	margin: 0 auto;
}

.header-hamburger {
	height: 55px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	@media screen and (min-width: 730px) {
		display: none;
	}
}

.site-title {
	float: left;
	font-size: 1.5em;
	font-weight: 700;
	position: relative;
	margin-top: 11px;
	a, a:hover {
		color: white;
	}
}

/* Navigation */
.site-navigation ul {
	display: none;
	list-style: none;
	position: absolute;
	top: 56px;
	left: 0;
	width: 300px;
	@media screen and (min-width: 730px) {
		display: inline;
		margin-top: 3px;
		float: right;
		height: 100%;
		position: relative;
		top: auto;
		left: auto;
		width: auto;
	}
	li {
		padding: 15px 20px;
		font-size: 1.2em;
		cursor: pointer;
		display: block;
		background: #121212;
		width: auto;
		border-top: solid 2px #232323;
		@media screen and (min-width: 730px) {
			display: inline-block;
			background: none;
			width: auto;
			border: none;
			&:hover {
				padding: 15px 20px;
				border: none;
				color: white;
			}
			&.active-nav {
				border-bottom: 5px solid white;
				border-right: none;
				padding: 10px 20px;
				color: white;
			}
			&.active-nav:hover {
				border-bottom: 5px solid white;
				padding-bottom: 10px;
			}
		}
		&:hover {
			color: white;
		}
		&.active-nav {
			color: white;
		}
	}
}


/* Primary Navigation */
.primary-navigation {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 14px;
	a {
		padding: 7px 0;
		color: #4F4F4F;
	}
	.nav-menu {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		display: none;
	}
}
.primary-navigation.toggled-on {
	padding: 72px 0 36px;
}
.primary-navigation.toggled-on .nav-menu {
	display: block;
}


/* Secondary Navigation */

.secondary-navigation {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 12px;
	margin: 48px 0;
}

.secondary-navigation a {
	padding: 9px 0;
}

.menu-toggle {
	cursor: pointer;
	font-size: 0;
	height: 48px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 48px;
}

.menu-toggle:before {
	color: #fff;
	content: "\f419";
	margin-top: 16px;
}

